.items {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
