@import "Components/Header/Header.css";
@import "Components/LotItem/LotItem.css";
@import "Components/LotList/LotList.css";
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
body{
  color: #090b08;
  margin:  0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: 	#EAEBED;
}
h1{
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
}
h2{
  text-transform: uppercase;
  margin-top: 70px;
  margin-left: 40px;
}
a{
  text-decoration: none;
  color: #090b08;
}
.title{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.line{
  width: 3em;
  height: 1px;
  background-color: #000;
  margin-right: 1em;
}
.btn{
  display: inline-block;
  padding: .5em 1.5em;
  border: solid 1px #090b08;
  transition: all .3s ease-in;
}
.btn:hover, .btn:focus{
  transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 10px 7px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 7px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 7px -9px rgba(0,0,0,0.75);
  transition: all .3s ease-out;
}

.hero {
  display: flex;
  height: 100vh;
  align-items: center;
  background: 	#EAEBED url("https://images.unsplash.com/photo-1516397281156-ca07cf9746fc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=02e05dcebdcdaa9c65852840c662a019&auto=format&fit=crop&w=1500&q=80") no-repeat left bottom;
}
.hero-img img{
  display: none;
}
.hero-text{
  padding: 0 2em 7.5em;
}

.hero{
  background-image: url(https://images.unsplash.com/photo-1516397281156-ca07cf9746fc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=02e05dcebdcdaa9c65852840c662a019&auto=format&fit=crop&w=1500&q=80);
  justify-content: center;
  overflow: hidden;
}
.heroimg{
  padding-top: 6.5em;
  width: 100%;
  position: absolute;
}
.herotext{
  padding: 0 2em;
  margin-left: -20px;
}

.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
}

/* LOADER 1 */

#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  top: 200px;
  left: 600px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #DF4B30;
}

#loader-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after{
  border: 10px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.new-lot-form {
  margin-top: 60px;
}

.float-label {
  position: relative;
  margin-bottom: 10px;
}
.float-label textarea {
  resize: vertical;
}
.float-label input,
.float-label textarea {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  border: solid 1px #eeeeee;
  font-size: 14px;
  line-height: 1em;
  padding: 10px;
  background: white;
  z-index: 0;
}
.float-label-simple {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  border: solid 1px #eeeeee;
  font-size: 14px;
  line-height: 1em;
  padding: 10px;
  background: white;
  z-index: 0;
}
.float-label input + label,
.float-label textarea + label {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: absolute;
  left: 12px;
  top: 13px;
  color: transparent;
  color: #999999 \9;
  font-size: .75em;
  font-weight: bold;
  line-height: 1em;
  cursor: text;
  z-index: 1;
}
.float-label input:focus, .float-label input:active, .float-label input.has-text,
.float-label textarea:focus,
.float-label textarea:active,
.float-label textarea.has-text {
  outline: none;
  padding-top: 33px;
}
.float-label input:focus + label, .float-label input:active + label, .float-label input.has-text + label,
.float-label textarea:focus + label,
.float-label textarea:active + label,
.float-label textarea.has-text + label {
  color: #999999;
  margin-top: 0;
}
.float-label input:focus, .float-label input:active,
.float-label textarea:focus,
.float-label textarea:active {
  border-color: #bbbbbb;
}

/* Style the page :) */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

form {
  display: block;
  margin: 5px auto;
  width: 325px;
}

h2 {
  margin-bottom: .75em;
}

.show-container {
  margin-top: 100px;
  padding-right: 200px;
  padding-left: 200px;
  margin-right: auto;
  margin-left: auto;
}

.show-flex {
  display: flex;
  justify-content: center;
}

.show-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.show-label {
  font-weight: bolder;
}

.show-price {
  color: #df4b30;
}

button {
  background: #EAEBED;
}

.big-photo {
  height: 300px;
  width: 300px;
}

.show-bids {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  overflow: auto;
  min-width: 300px;
}

.show-bids-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show-bids-item{
  display: flex;
  justify-content: space-between;
}

.label-big {
  font-size: 16pt;
}

.centered {
  text-align: center;
}

.field-container {
  position: relative;
  border: 1px solid #bcbaba;
  height: 50px;
  width: 320px;
  padding-left: 12px;
  margin-left: 10px;
}

.field-placeholder {
  position: absolute;
  top: 50%;
  transform: translate(5px, -50%);
  pointer-events: none;
  transition: all 0.14s ease-in-out;
  font-size: 15px;
}

input[type="text"].field-input {
  color: #000;
  border: none;
  padding: 5px;
  margin-top: 20px;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  bottom: 0px;
  background: #EAEBED;
}
input[type="text"].field-input:focus {
  outline: none;
}
input[type="text"].field-input.c-fix, input[type="text"].field-input:focus, input[type="text"].field-input:not(:placeholder-shown) {
  border-color: transparent;
}
input[type="text"].field-input.c-fix ~ label, input[type="text"].field-input:focus ~ label, input[type="text"].field-input:not(:placeholder-shown) ~ label {
  color: #646669;
  font-size: 11px;
  top: calc(30% - 0.5rem);
  transform: translate(5px, 0%);
}
input[type="text"].field-input::-webkit-input-placeholder {
  color: transparent;
}
input[type="text"].field-input::-moz-placeholder {
  color: transparent;
}
input[type="text"].field-input:-ms-input-placeholder {
  color: transparent;
}

.autocomplete-drop-down {
  position: relative;
  width: 30vw;
}

.countries-input,
.countries-list {
  border: none;
  box-sizing: border-box;
  width: 30vw;
}

.countries-input-container {
  height: 2.5rem;
  position: relative;
}

.countries-input {
  height: 2.5rem;
  padding: 1em 0.5em;
  position: relative;
  transition: outline 0.2s ease;
  transition-delay: 0.2s;
}
.countries-input:focus + .input-underline {
  transform: scaleY(0);
}
.countries-input:focus ~ .input-arrow {
  transform: rotate(180deg);
}

.input-underline {
  background: #000;
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transform-origin: center bottom;
  transition: transform 0.3s ease;
  width: 30vw;
}

.input-arrow {
  position: absolute;
  right: 0.5em;
  top: calc(50% - 0.5rem);
  transition: transform 0.3s ease;
}

.countries-list-container {
  box-shadow: 0 8px 15px 0 rgba(33, 33, 33, 0.2);
  opacity: 0;
  position: relative;
  transform: scaleY(0);
  visibility: hidden;
  transform-origin: center top;
  transition: all 0.3s ease;
  width: 30vw;
}
.countries-list-container.visible {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

.countries-list {
  align-content: middle;
  display: flex;
  flex-wrap: wrap;
  max-height: 11.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 30vw;
}

.country {
  cursor: pointer;
  padding: 0.5em 0;
  transition: background 0.5s ease;
  width: 30vw;
}
.country:hover {
  background: #CCC;
}
.country span {
  box-sizing: border-box;
  display: inline-block;
}

.country--abbreviation {
  padding: 0 1em;
  width: 18%;
}

.country--name {
  width: 78%;
}


table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  table-layout: fixed;
  height: 300px;
  overflow-y: scroll;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #EAEBED;
  border: 1px solid #EAEBED;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.label-bids {
  margin-left: 10px;
}

